@model Shoes.Areas.Admin.Models.Product

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<h1 style="color: #333; font-size:18px;margin-top:45px">
    @Model.description
</h1>

<div class="row" style="padding-top:30px;margin-left: -15px;margin-right: -15px;">
    <div class="col-xs-5">
        <div class="col-xs-2">
            @{
                string[] arrayfile = Model.ImageProducts.ToList()[0].image.Split(',');
            }
            @foreach (var img in arrayfile)
            {
                <a href="#" class="thumbnail">
                    <img src="~/Content/Images/@img" style="width:42px" class="small-image">
                </a>
            }
        </div>
        <div class="col-xs-9">
            <img src="~/Content/Images/@Model.image" class="large-image">
        </div>
    </div>
    <div class="col-xs-7">
        <div class="row">
            <div class="col-xs-2">
                <span>Mã:</span>
            </div>
            <div class="col-xs-10">
                @Model.id
            </div>
        </div>
        <div class="row">
            <div class="col-xs-2">
                <span>Giá cũ:</span>
            </div>
            <div class="col-xs-10">
                <s>@Model.price.ToString("C0")</s>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-2">
                <span>Giảm giá:</span>
            </div>
            <div class="col-xs-10">
                @Model.discount%
            </div>
        </div>
        <div class="row">
            <div class="col-xs-2">
                <span>Giá:</span>
            </div>
            <div class="col-xs-10">
                @((Model.price * (100 - Model.discount) / 100).ToString("C0"))
            </div>
        </div>
        <div class="row">
            <div class="col-xs-2">
                <span>Chọn Size:</span>
            </div>
            <div class="col-xs-10">
                <input name="size" type="radio" value="39" /> 39
                <input name="size" type="radio" value="40" /> 40
                <input name="size" type="radio" value="40" /> 41
                <input name="size" type="radio" value="40" /> 42
                <input name="size" type="radio" value="40" /> 43
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-xs-2">
                @Html.TextBox("quantity" + Model.id, 1, new { @class = "form-control text-right input-quantity", style = "width:80px; text-align:center", type = "number", min = "1" , max="10" })
            </div>
            <div class="col-xs-10">
                <button type="button" data-param="@Model.id" class="btn btn-info add-to-cart" style="width:200px" title="Add to Cart">
                    <span class="glyphicon glyphicon-shopping-cart"></span>Add to Cart
                </button>
            </div>
        </div>
        <br />
        <div class="row" style="font-weight:bold">
            <div class="col-xs-3">
                <span>Điện thoại đặt hàng:</span>
            </div>
            <div class="col-xs-9">
                01688.624.793 - 0898.529.230
            </div>
        </div>
        <div class="row">
            <div class="col-xs-2" style="font-weight:bold">
                <span>Crazy Shop:</span>
            </div>
            <div class="col-xs-10">
                822 Cách mạng tháng tám - Phường 5 - Quận Tân Bình - TP HCM
            </div>
        </div>
    </div>
</div>
<br />
@section Scripts{
    <script language="javascript">

        $(".small-image").click(function () {
            var src = $(this).attr('src');
            $(".large-image").attr('src', src);
        })

    </script>
}

